:root {
    --Colorblack: #262626;
    --Colorred: #c00;
    --Colorvdgray: #888;
    --Colordgray: #aaa;
    --Colorgray: #ccc;
    --Colorlgray: #eee;
    --Colorvlgray: #f5f5f5;

    --Fontregular: 'Anjoman';
    --Fontlight: 'Anjoman Light';
    --Fontthin: 'Anjoman Thin';
    --Fontblack: 'Anjoman Black';
    --Fontbold: 'Anjoman Bold';
    --Fontprotect: 'Vazirmatn';
}

html {
    direction: rtl;
    color: var(--black);
    font-family: var(--Fontregular), var(--Fontprotect);
    font-size: 8px;
    font-weight: 400;

}


body {
    padding: 3rem;
    margin: 0 auto;
    /* min-width: 50%; */
    max-width: 65rem;
}

/* .tags {
} */

.tags div {
    margin: 0rem -0.1rem 0.6rem 0.3rem;
    padding: 0.3rem 1rem 0.2rem 1rem;
    border-radius: 3rem;
    background-color: var(--Colorvlgray);
    color: var(--Colordgray);
    display: inline-block;
    /* font-size: 200%; */
}

.tags div:hover {
    color: var(--Colorred)
}

.hover2 div:hover {
    color: var(--Colorvlgray);
    background-color: var(--Colorred);
}

/* ---------------------  font style */

.black {
    font-family: var(--Fontblack), var(--Fontprotect);
    font-weight: 900;

}

.bold {
    font-family: var(--Fontbold), var(--Fontprotect);
    font-weight: 700;

}

.Regular {
    font-family: var(--Fontregular), var(--Fontprotect);
    font-weight: 400;
}

.light {
    font-family: var(--Fontlight), var(--Fontprotect);
    font-weight: 300;
}

.thin {
    font-family: var(--Fontthin), var(--Fontprotect);
    font-weight: 100;
}

/* ---------------------  font color */

#black,
#black a {
    color: var(--Colorblack);
}

#black a:hover {
    color: var(--Colorvlgray);
    background-color: var(--Colorred);
}


.red {
    color: var(--Colorred);
}

.vdgray,
.vdgray div {
    color: var(--Colorvdgray);
}

.dgray {
    color: var(--Colordgray);
}

.gray {
    color: var(--Colorgray);
}

.lgray {
    color: var(--Colorlgray);
}

.vlgray {
    color: var(--Colorvlgray);
}

/* ---------------------  font size */

.h1,
.h1 * {
    font-size: 5rem;
}

.h2,
.h2 * {
    font-size: 4rem;
}

.h3,
.h3 * {
    font-size: 3rem;
}

.h4,
.h4 * {
    font-size: 2.5rem;
}

.h5,
.h5 * {
    font-size: 2rem;
}



.p,
div,
.p * {
    font-size: 1.6rem;
}


.small,
.small * {
    font-size: 1.4rem;
}

.vsmall,
.vsmall * {
    font-size: 1rem;
}

.rightBorder {
    margin: 4rem 0;
    border-right: 2px solid #c00;
    padding: 0 1rem;
}



.top32 {
    margin-top: 4rem;
}

.top16 {
    margin-top: 2rem;
}

.top8 {
    margin-top: 1rem;
}

.top4 {
    margin-top: 0.5rem;
}

.top2 {
    margin-top: 0.25rem;
}




/* unvisited link */
a:link,
a:visited,
a:hover,
a:active {
    /* background-color: var(--Colorvlgray); */
    color: var(--Colorvdgray);
    text-decoration: none;
    padding: 0 5px;
    border-radius: 4px;
    border: var(--Colorlgray) solid 1px;
}

a:hover {
    color: var(--Colorred);
    border: var(--Colorred) solid 1px;
}

.lineSpace {
    line-height: 3rem;
}

#info {
    line-height: 3rem;
    position: fixed;
    top: 20px;
    left: 20px;
    text-align: left;
}

#updateLink {
    display: none;
}

#languageLink {
    display: none;
}

.box {
    break-inside: avoid;
}

.highlight {
    position: relative;
    padding-right: 20px;
}

.highlight::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 16px;
    width: 40px;
    height: 10px;
    transform: skew(-7deg) translateY(100%);
    background: #eee;
    z-index: -1;
}

.highlight2 {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

.highlight2::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 16px;
    width: 50px;
    height: 10px;
    transform: skew(-7deg) translateY(120%);
    background: #eee;
    z-index: -1;
}

.finished::before {
    background: #66ee5550;
}

.progress::before {
    background: #ffff5580;
}

@media print {
    #info {
        left: 20px;
        top: 0px;
        position: absolute;
    }

    img {
        margin-top: -20px;
    }

    #updateLink {
        display: inline;
    }

    body {
        padding: 3rem;
        margin: 0 auto;
        /* min-width: 50%; */
        max-width: 95%;
    }

    #skills {
        position: absolute;
        left: 20px;
        top: 210px;
        width: 30%;
    }

    #jobs {
        position: absolute;
        right: 2.5%;
        top: 210px;
        width: 60%;
    }

    #education {
        position: absolute;
        left: 20px;
        top: 550px;
        width: 30%;
    }

    #course {
        position: absolute;
        right: 2.5%;
        top: 710px;
        width: 60%;
    }

    #project {
        position: absolute;
        right: 2.5%;
        top: 1050px;
        width: 63%;
    }

    #roadmap {
        position: absolute;
        left: 0px;
        top: 1050px;
        width: 27%;
    }

    #about {
        width: 68%;
    }
}